<h1>Edit Film <%= @film.title %></h1>


<%= form_for @film do |f| %>
  <p/>
  Title
  <%= f.text_field :title %>
  <p />

  Tagline
  <%= f.text_field :tagline  %>

  <p />
  <%= f.submit %>

<% end %>
